@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

header {
  position: sticky;
  top: 0;
  background: white;
  height: 66px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.rightBox {
  display: flex;
  margin: 12px;
}

.left img {
  width: 32px;
  height: 23px;
}

.container {
  padding: 0 10vw;
}

.containerHeader {
  padding: 0 10vw;
}

nav {
  font-size: 14px;
  padding-top: 14px;
}

nav ul li {
  list-style: none;
  padding: 0 12px;
}

.section1 {
  background: #f2f2f2;
}

.search {
  width: 34vw;
  padding: 7px 35px;
  border: 0.5px solid rgb(219, 216, 216);
  background: #d3d4d8;
  border-radius: 5px;
  background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
}

.homeImg {
  width: 80vw;
  margin: 12px 0;
}

.itemImg {
  width: 10vw;
  margin: 6px 12px;
}

.text-banner-title,
.desktop-Container {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-banner-title {
  text-transform: uppercase;
  color: #3e4152;
  letter-spacing: .15em;
  font-size: 1.8em;
  margin: 50px 0 40px 18px;
  max-height: 5em;
  font-weight: bold;
}

.desktop-Container {
  text-transform: uppercase;
  line-height: 18px;
  color: #26272b;
  font-size: 1.2em;
  margin: 12px 0 7px 12px;
  max-height: 5em;
  font-stretch: semi-expanded;
  font-weight: bolder;
}

p {
  display: block;
  padding-left: 11px;
  font-size: 1.3em;
  font-weight: lighter;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

footer {
  padding: 23px;
  text-align: center;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}

.tall {
  min-height: 40vh;
}

@media (max-width: 400px) {
  .text-banner-title {
    text-transform: uppercase;
    color: #3e4152;
    letter-spacing: .15em;
    font-size: 1.8em;
    margin: 32px 0 30px 2px;
    max-height: 5em;
    font-weight: bold;
  }
}

@media (max-width: 450px) {
  .search {
    width: 72vw;
  }
}

@media (max-width: 1550px) {

  nav ul li {
    list-style: none;
    padding: 0 4px;
    font-size: 10px;
  }

  .containerHeader {
    padding: 0 2vw;
  }

  header {
    height: 122px;
  }

  nav {
    flex-direction: column;
    align-items: center;
  }

  .right {
    flex-direction: column;
  }

  .rightBox {
    display: flex;
    margin: 12px;
  }
}